/*

!.gitignore
!config.rb
!order.php
!privacy-policy.php
!thanks.php
!thanks-maybe.php
!get_data.php
!README.md

!inc/
inc/config.php
inc/templates/local.*

!javascripts/
javascripts/*
!javascripts/cpa.*
!javascripts/m1.*
!javascripts/device.*
!javascripts/script.main.*

!images/
images/*
!images/call-centre.jpg
!images/robot.jpg
!images/youtube-play-icon.png
!images/call-phone.png
!images/call-phone-*.png
!images/close-icon.png
!images/popup-phone.png

!sass/
sass/*
!sass/_default.*.scss
!sass/popup.scss

!sass/lib/
sass/lib/*
!sass/lib/_default.*.scss

!stylesheets/
stylesheets/*
!stylesheets/popup.css